.Armarios {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  height: 75vh;
  margin-top: -20vh;
}

.tituloArmarios {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2vh;
}

.h1muebles {
  font-size: 2rem;
}

.agregarMueble {
  background-image: url(../resources/images/agregar.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 1vw;
  height: 4vh;
  border-radius: 50%;
}

.listaArmarios {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto;
  gap: 5vh;
}

.armariosHabitacion {
  background: rgba(116, 201, 253, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(12.5px);
  -webkit-backdrop-filter: blur(12.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 15vw;
  height: 20vh;
  transition: all 0.5s ease;
}

.armariosHabitacion:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.nombrehabitacion {
  margin-bottom: 1vh;
}

.armarioConcreto {
  background: rgba(116, 201, 253, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(12.5px);
  -webkit-backdrop-filter: blur(12.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 15vw;
  height: 20vh;
  transition: all 0.5s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin-bottom: 1rem;
}

.armarioConcreto:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.eliminarArmario {
  background: transparent;
  background-image: url(../resources/images/eliminar.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 1vw;
  height: 4vh;
  border-radius: 50%;
}
