.arc:before {
  -webkit-animation: spin 0.5s infinite linear;
  animation: spin 0.5s infinite linear;
  border-radius: 100%;
  border-top: 6px solid var(--primary, rgb(251, 4, 4));
  content: "";
  display: block;
  height: 15vh;
  width: 15vh;
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.misCasas {
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 0 8px 32px 0 rgba(25, 25, 25, 0.37);
  -webkit-backdrop-filter: blur(12.5px);
  backdrop-filter: blur(12.5px);
  border-radius: 10px;
  border: 1px solid rgb(0, 0, 0);
  width: 20vw;
  height: 70vh;
  padding: 2vw;
  margin: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.5s ease;
  z-index: 1;
}
.misCasas:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.eliminarCasa {
  background-color: transparent;
  background-image: url(../resources/images/eliminar.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 1vw;
  height: 4vh;
  border-radius: 50%;
  position: absolute;
  top: 45vh;
  left: 14vw;
}

.agregarCasa {
  width: 20vh;
  height: 20vh;
  position: absolute;
  top: 25vh;
  left: 14vw;
  background-color: blue;
}
