body {
  margin-top: 100px;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  /* agregar aquí los demás estilos del navbar */
}

/* LogIn.css */

.principal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  gap: 5rem;
  height: 150vh;
  margin-left: 10vw;
}
.formulariosLoginSingUp input {
  width: 20vw;
  padding: 16px;
  margin-bottom: 16px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
}

.formulariosLoginSingUp button {
  background-color: #0070f3;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 16px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.formulariosLoginSingUp button:hover {
  background-color: #0058c0;
}
.formulariosLoginSingUp {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh;
  background-color: #f0f0f0;
  border: black 1px solid;
  border-radius: 8px;
  position: fixed;
  margin-top: 5vh;
  margin-left: 55vw;
  width: 50vh;
}

@media screen and (min-width: 768px) {
  .principal {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .present {
    width: 50%;
    margin-right: 2rem;
  }

  .formularios {
    width: 50%;
  }
}

/* .login {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  padding: 32px;
  background-color: #f0f0f0;
  border-radius: 8px;
  transition: all 0.8s ease-in-out;
}

.singup {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  padding: 32px;
  background-color: #f0f0f0;
  border-radius: 8px;
  transition: all 0.8s ease-in-out;
} */
