.miscasas {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.casasLista {
  list-style: none;
  padding: 0;
  margin: 0;
}

.casasLista li {
  display: block;
  margin-bottom: 20px;
}

.habitaciones {
  display: none;
}

.verHabitaciones {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #ccc;
  border: none;
  cursor: pointer;
}

.verHabitaciones:focus {
  outline: none;
}

.verHabitaciones:hover {
  background-color: #bbb;
}

.habitaciones.visible {
  display: block;
}
